<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/base.css') }}"
        />
        {% block head %} {% endblock %}
    </head>
    <body>
        <header>
            <div id="logo">Backend3</div>
            <div id="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/quiz">Quiz</a></li>
                </ul>
            </div>
        </header>
        <main>{% block content %}{% endblock %}</main>
        <footer>
            <p>© 2025 - Backend3</p>
        </footer>
    </body>
</html>
