html,
body {
    margin: 0;
}
body {
    padding: 0 10vw;
}

* {
    font-family: Arial;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    color: #ababab;
    font-size: 1.2rem;
}
header::before {
    content: "";
    position: absolute;
    left: -10vw;
    height: 100%;
    width: calc(100% + 20vw);
    z-index: -1;
    background-color: #222;
}
footer {
    margin-top: 1rem;
    color: #ababab;
    border-top: 1px solid #ababab;
}

#logo {
    font-weight: bold;
}
#menu ul > li {
    display: inline;
    margin-right: 1rem;
}
#menu ul > li > a {
    color: #ababab;
    text-decoration: none;
}
