input {
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
